html {
    background-color: #1E1E1E;
    color: white;
}

main {
    margin: auto;
    max-width: 70%;
}

h1 {
    font-family: Arial;
    text-align: center;
}

table{
    margin: auto;
    text-align: left;
    font-family: Arial;
}

table, th, td {
    border: 2px solid black;
    background-color: #333333;
    border-collapse: collapse;
    padding: 4px;
    text-align: center;
}

tr {
    margin: 0;
}
