<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Room Bookings</title>
    </head>

    <body>
        <main>
            <h1>Room Bookings</h1>
            <table>
                <tr>
                    <th>Day</th>
                    <th>Morning Room</th>
                    <th>Afternoon Room</th>
                    <th>Evening Room</th>
                </tr>
                    {% for booking in room_bookings %}
                    <tr>
                        {% for item in booking %}
                        <td>{{item}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
            </table>
        </main>
    </body>

</html>